/*------------------------------------
- COLOR twitch
------------------------------------*/

.alert-twitch {
    color: #5301be;
    background-color: #104107ff;
    border-color: #f8f3fe;
}

.alert-twitch hr {
    border-top-color: #eadafe;
}

.alert-twitch .alert-link {
    color: #3d018c;
}

.badge-twitch {
    color: #fff;
    background-color: #913efd;
}

.badge-twitch[href]:hover, .badge-twitch[href]:focus {
    color: #fff;
    background-color: #740bfc;
}

.bg-twitch {
    background-color: #913efd !important;
}

a.bg-twitch:hover, a.bg-twitch:focus,
button.bg-twitch:hover,
button.bg-twitch:focus {
    background-color: #740bfc !important;
}

.border-twitch {
    border-color: #913efd !important;
}

.btn-twitch {
    color: #fff;
    background-color: #913efd;
    border-color: #913efd;
}

.btn-twitch:hover {
    color: #fff;
    background-color: #7c1afc;
    border-color: #740bfc;
}

.btn-twitch:focus, .btn-twitch.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-twitch.disabled, .btn-twitch:disabled {
    color: #fff;
    background-color: #913efd;
    border-color: #913efd;
}

.btn-twitch:not(:disabled):not(.disabled):active, .btn-twitch:not(:disabled):not(.disabled).active, .show > .btn-twitch.dropdown-toggle {
    color: #fff;
    background-color: #740bfc;
    border-color: #6c02f6;
}

.btn-twitch:not(:disabled):not(.disabled):active:focus, .btn-twitch:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-outline-twitch {
    color: #913efd;
    background-color: transparent;
    border-color: #913efd;
}

.btn-outline-twitch:hover {
    color: #fff;
    background-color: #913efd;
    border-color: #913efd;
}

.btn-outline-twitch:focus, .btn-outline-twitch.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-outline-twitch.disabled, .btn-outline-twitch:disabled {
    color: #913efd;
    background-color: transparent;
}

.btn-outline-twitch:not(:disabled):not(.disabled):active, .btn-outline-twitch:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch.dropdown-toggle {
    color: #fff;
    background-color: #913efd;
    border-color: #913efd;
}

.btn-outline-twitch:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.list-group-item-twitch {
    color: #5301be;
    background-color: #f8f3fe;
}

.list-group-item-twitch.list-group-item-action:hover, .list-group-item-twitch.list-group-item-action:focus {
    color: #5301be;
    background-color: #eadafe;
}

.list-group-item-twitch.list-group-item-action.active {
    color: #fff;
    background-color: #5301be;
    border-color: #5301be;
}

.table-twitch,
.table-twitch > th,
.table-twitch > td {
    background-color: #f8f3fe;
}

.table-hover .table-twitch:hover {
    background-color: #eadafe;
}

.table-hover .table-twitch:hover > td,
.table-hover .table-twitch:hover > th {
    background-color: #eadafe;
}

.text-twitch {
    color: #913efd !important;
}

a.text-twitch:hover, a.text-twitch:focus {
    color: #740bfc !important;
}

/*------------------------------------
- COLOR twitch-lighter
------------------------------------*/

.alert-twitch-lighter {
    color: #6c00f6;
    background-color: #12213eff;
    border-color: #116129ff;
}

.alert-twitch-lighter hr {
    border-top-color: #108110ff;
}

.alert-twitch-lighter .alert-link {
    color: #5600c3;
}

.badge-twitch-lighter {
    color: #212529;
    background-color: #b072ff;
}

.badge-twitch-lighter[href]:hover, .badge-twitch-lighter[href]:focus {
    color: #212529;
    background-color: #933fff;
}

.bg-twitch-lighter {
    background-color: #b072ff !important;
}

a.bg-twitch-lighter:hover, a.bg-twitch-lighter:focus,
button.bg-twitch-lighter:hover,
button.bg-twitch-lighter:focus {
    background-color: #933fff !important;
}

.border-twitch-lighter {
    border-color: #b072ff !important;
}

.btn-twitch-lighter {
    color: #212529;
    background-color: #b072ff;
    border-color: #b072ff;
}

.btn-twitch-lighter:hover {
    color: #212529;
    background-color: #9b4eff;
    border-color: #933fff;
}

.btn-twitch-lighter:focus, .btn-twitch-lighter.focus {
    box-shadow: 0 0 0 0.2rem rgba(176, 114, 255, 0.5);
}

.btn-twitch-lighter.disabled, .btn-twitch-lighter:disabled {
    color: #212529;
    background-color: #b072ff;
    border-color: #b072ff;
}

.btn-twitch-lighter:not(:disabled):not(.disabled):active, .btn-twitch-lighter:not(:disabled):not(.disabled).active, .show > .btn-twitch-lighter.dropdown-toggle {
    color: #212529;
    background-color: #933fff;
    border-color: #8a2fff;
}

.btn-twitch-lighter:not(:disabled):not(.disabled):active:focus, .btn-twitch-lighter:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-lighter.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(176, 114, 255, 0.5);
}

.btn-outline-twitch-lighter {
    color: #b072ff;
    background-color: transparent;
    border-color: #b072ff;
}

.btn-outline-twitch-lighter:hover {
    color: #212529;
    background-color: #b072ff;
    border-color: #b072ff;
}

.btn-outline-twitch-lighter:focus, .btn-outline-twitch-lighter.focus {
    box-shadow: 0 0 0 0.2rem rgba(176, 114, 255, 0.5);
}

.btn-outline-twitch-lighter.disabled, .btn-outline-twitch-lighter:disabled {
    color: #b072ff;
    background-color: transparent;
}

.btn-outline-twitch-lighter:not(:disabled):not(.disabled):active, .btn-outline-twitch-lighter:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-lighter.dropdown-toggle {
    color: #212529;
    background-color: #b072ff;
    border-color: #b072ff;
}

.btn-outline-twitch-lighter:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-lighter:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-lighter.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(176, 114, 255, 0.5);
}

.list-group-item-twitch-lighter {
    color: #6c00f6;
    background-color: #116129ff;
}

.list-group-item-twitch-lighter.list-group-item-action:hover, .list-group-item-twitch-lighter.list-group-item-action:focus {
    color: #6c00f6;
    background-color: #108110ff;
}

.list-group-item-twitch-lighter.list-group-item-action.active {
    color: #212529;
    background-color: #6c00f6;
    border-color: #6c00f6;
}

.table-twitch-lighter,
.table-twitch-lighter > th,
.table-twitch-lighter > td {
    background-color: #116129ff;
}

.table-hover .table-twitch-lighter:hover {
    background-color: #108110ff;
}

.table-hover .table-twitch-lighter:hover > td,
.table-hover .table-twitch-lighter:hover > th {
    background-color: #108110ff;
}

.text-twitch-lighter {
    color: #b072ff !important;
}

a.text-twitch-lighter:hover, a.text-twitch-lighter:focus {
    color: #933fff !important;
}

/*------------------------------------
- COLOR twitch-light
------------------------------------*/

.alert-twitch-light {
    color: #882eff;
    background-color: #142175ff;
    border-color: #136160ff;
}

.alert-twitch-light hr {
    border-top-color: #128147ff;
}

.alert-twitch-light .alert-link {
    color: #6b00fa;
}

.badge-twitch-light {
    color: #212529;
    background-color: #cea9ff;
}

.badge-twitch-light[href]:hover, .badge-twitch-light[href]:focus {
    color: #212529;
    background-color: #b075ff;
}

.bg-twitch-light {
    background-color: #cea9ff !important;
}

a.bg-twitch-light:hover, a.bg-twitch-light:focus,
button.bg-twitch-light:hover,
button.bg-twitch-light:focus {
    background-color: #b075ff !important;
}

.border-twitch-light {
    border-color: #cea9ff !important;
}

.btn-twitch-light {
    color: #212529;
    background-color: #cea9ff;
    border-color: #cea9ff;
}

.btn-twitch-light:hover {
    color: #212529;
    background-color: #b985ff;
    border-color: #b075ff;
}

.btn-twitch-light:focus, .btn-twitch-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 169, 255, 0.5);
}

.btn-twitch-light.disabled, .btn-twitch-light:disabled {
    color: #212529;
    background-color: #cea9ff;
    border-color: #cea9ff;
}

.btn-twitch-light:not(:disabled):not(.disabled):active, .btn-twitch-light:not(:disabled):not(.disabled).active, .show > .btn-twitch-light.dropdown-toggle {
    color: #212529;
    background-color: #b075ff;
    border-color: #a866ff;
}

.btn-twitch-light:not(:disabled):not(.disabled):active:focus, .btn-twitch-light:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 169, 255, 0.5);
}

.btn-outline-twitch-light {
    color: #cea9ff;
    background-color: transparent;
    border-color: #cea9ff;
}

.btn-outline-twitch-light:hover {
    color: #212529;
    background-color: #cea9ff;
    border-color: #cea9ff;
}

.btn-outline-twitch-light:focus, .btn-outline-twitch-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 169, 255, 0.5);
}

.btn-outline-twitch-light.disabled, .btn-outline-twitch-light:disabled {
    color: #cea9ff;
    background-color: transparent;
}

.btn-outline-twitch-light:not(:disabled):not(.disabled):active, .btn-outline-twitch-light:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-light.dropdown-toggle {
    color: #212529;
    background-color: #cea9ff;
    border-color: #cea9ff;
}

.btn-outline-twitch-light:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 169, 255, 0.5);
}

.list-group-item-twitch-light {
    color: #882eff;
    background-color: #136160ff;
}

.list-group-item-twitch-light.list-group-item-action:hover, .list-group-item-twitch-light.list-group-item-action:focus {
    color: #882eff;
    background-color: #128147ff;
}

.list-group-item-twitch-light.list-group-item-action.active {
    color: #212529;
    background-color: #882eff;
    border-color: #882eff;
}

.table-twitch-light,
.table-twitch-light > th,
.table-twitch-light > td {
    background-color: #136160ff;
}

.table-hover .table-twitch-light:hover {
    background-color: #128147ff;
}

.table-hover .table-twitch-light:hover > td,
.table-hover .table-twitch-light:hover > th {
    background-color: #128147ff;
}

.text-twitch-light {
    color: #cea9ff !important;
}

a.text-twitch-light:hover, a.text-twitch-light:focus {
    color: #b075ff !important;
}

/*------------------------------------
- COLOR twitch-lightest
------------------------------------*/

.alert-twitch-lightest {
    color: #9966ff;
    background-color: #1731adff;
    border-color: #165198ff;
}

.alert-twitch-lightest hr {
    border-top-color: #15417fff;
}

.alert-twitch-lightest .alert-link {
    color: #7733ff;
}

.badge-twitch-lightest {
    color: #212529;
    background-color: #ebe1ff;
}

.badge-twitch-lightest[href]:hover, .badge-twitch-lightest[href]:focus {
    color: #212529;
    background-color: #c8aeff;
}

.bg-twitch-lightest {
    background-color: #ebe1ff !important;
}

a.bg-twitch-lightest:hover, a.bg-twitch-lightest:focus,
button.bg-twitch-lightest:hover,
button.bg-twitch-lightest:focus {
    background-color: #c8aeff !important;
}

.border-twitch-lightest {
    border-color: #ebe1ff !important;
}

.btn-twitch-lightest {
    color: #212529;
    background-color: #ebe1ff;
    border-color: #ebe1ff;
}

.btn-twitch-lightest:hover {
    color: #212529;
    background-color: #d3bdff;
    border-color: #c8aeff;
}

.btn-twitch-lightest:focus, .btn-twitch-lightest.focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 225, 255, 0.5);
}

.btn-twitch-lightest.disabled, .btn-twitch-lightest:disabled {
    color: #212529;
    background-color: #ebe1ff;
    border-color: #ebe1ff;
}

.btn-twitch-lightest:not(:disabled):not(.disabled):active, .btn-twitch-lightest:not(:disabled):not(.disabled).active, .show > .btn-twitch-lightest.dropdown-toggle {
    color: #212529;
    background-color: #c8aeff;
    border-color: #be9eff;
}

.btn-twitch-lightest:not(:disabled):not(.disabled):active:focus, .btn-twitch-lightest:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-lightest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 225, 255, 0.5);
}

.btn-outline-twitch-lightest {
    color: #ebe1ff;
    background-color: transparent;
    border-color: #ebe1ff;
}

.btn-outline-twitch-lightest:hover {
    color: #212529;
    background-color: #ebe1ff;
    border-color: #ebe1ff;
}

.btn-outline-twitch-lightest:focus, .btn-outline-twitch-lightest.focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 225, 255, 0.5);
}

.btn-outline-twitch-lightest.disabled, .btn-outline-twitch-lightest:disabled {
    color: #ebe1ff;
    background-color: transparent;
}

.btn-outline-twitch-lightest:not(:disabled):not(.disabled):active, .btn-outline-twitch-lightest:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-lightest.dropdown-toggle {
    color: #212529;
    background-color: #ebe1ff;
    border-color: #ebe1ff;
}

.btn-outline-twitch-lightest:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-lightest:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-lightest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 225, 255, 0.5);
}

.list-group-item-twitch-lightest {
    color: #9966ff;
    background-color: #165198ff;
}

.list-group-item-twitch-lightest.list-group-item-action:hover, .list-group-item-twitch-lightest.list-group-item-action:focus {
    color: #9966ff;
    background-color: #15417fff;
}

.list-group-item-twitch-lightest.list-group-item-action.active {
    color: #212529;
    background-color: #9966ff;
    border-color: #9966ff;
}

.table-twitch-lightest,
.table-twitch-lightest > th,
.table-twitch-lightest > td {
    background-color: #165198ff;
}

.table-hover .table-twitch-lightest:hover {
    background-color: #15417fff;
}

.table-hover .table-twitch-lightest:hover > td,
.table-hover .table-twitch-lightest:hover > th {
    background-color: #15417fff;
}

.text-twitch-lightest {
    color: #ebe1ff !important;
}

a.text-twitch-lightest:hover, a.text-twitch-lightest:focus {
    color: #c8aeff !important;
}

/*------------------------------------
- COLOR twitch-feint
------------------------------------*/

.alert-twitch-feint {
    color: #b27fff;
    background-color: #1761c6ff;
    border-color: #16a1b1ff;
}

.alert-twitch-feint hr {
    border-top-color: #15a198ff;
}

.alert-twitch-feint .alert-link {
    color: #934cff;
}

.badge-twitch-feint {
    color: #212529;
    background-color: #fcfaff;
}

.badge-twitch-feint[href]:hover, .badge-twitch-feint[href]:focus {
    color: #212529;
    background-color: #ddc7ff;
}

.bg-twitch-feint {
    background-color: #fcfaff !important;
}

a.bg-twitch-feint:hover, a.bg-twitch-feint:focus,
button.bg-twitch-feint:hover,
button.bg-twitch-feint:focus {
    background-color: #ddc7ff !important;
}

.border-twitch-feint {
    border-color: #fcfaff !important;
}

.btn-twitch-feint {
    color: #212529;
    background-color: #fcfaff;
    border-color: #fcfaff;
}

.btn-twitch-feint:hover {
    color: #212529;
    background-color: #e6d6ff;
    border-color: #ddc7ff;
}

.btn-twitch-feint:focus, .btn-twitch-feint.focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 250, 255, 0.5);
}

.btn-twitch-feint.disabled, .btn-twitch-feint:disabled {
    color: #212529;
    background-color: #fcfaff;
    border-color: #fcfaff;
}

.btn-twitch-feint:not(:disabled):not(.disabled):active, .btn-twitch-feint:not(:disabled):not(.disabled).active, .show > .btn-twitch-feint.dropdown-toggle {
    color: #212529;
    background-color: #ddc7ff;
    border-color: #d4b7ff;
}

.btn-twitch-feint:not(:disabled):not(.disabled):active:focus, .btn-twitch-feint:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-feint.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 250, 255, 0.5);
}

.btn-outline-twitch-feint {
    color: #fcfaff;
    background-color: transparent;
    border-color: #fcfaff;
}

.btn-outline-twitch-feint:hover {
    color: #212529;
    background-color: #fcfaff;
    border-color: #fcfaff;
}

.btn-outline-twitch-feint:focus, .btn-outline-twitch-feint.focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 250, 255, 0.5);
}

.btn-outline-twitch-feint.disabled, .btn-outline-twitch-feint:disabled {
    color: #fcfaff;
    background-color: transparent;
}

.btn-outline-twitch-feint:not(:disabled):not(.disabled):active, .btn-outline-twitch-feint:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-feint.dropdown-toggle {
    color: #212529;
    background-color: #fcfaff;
    border-color: #fcfaff;
}

.btn-outline-twitch-feint:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-feint:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-feint.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 250, 255, 0.5);
}

.list-group-item-twitch-feint {
    color: #b27fff;
    background-color: #16a1b1ff;
}

.list-group-item-twitch-feint.list-group-item-action:hover, .list-group-item-twitch-feint.list-group-item-action:focus {
    color: #b27fff;
    background-color: #15a198ff;
}

.list-group-item-twitch-feint.list-group-item-action.active {
    color: #212529;
    background-color: #b27fff;
    border-color: #b27fff;
}

.table-twitch-feint,
.table-twitch-feint > th,
.table-twitch-feint > td {
    background-color: #16a1b1ff;
}

.table-hover .table-twitch-feint:hover {
    background-color: #15a198ff;
}

.table-hover .table-twitch-feint:hover > td,
.table-hover .table-twitch-feint:hover > th {
    background-color: #15a198ff;
}

.text-twitch-feint {
    color: #fcfaff !important;
}

a.text-twitch-feint:hover, a.text-twitch-feint:focus {
    color: #ddc7ff !important;
}


/*------------------------------------
- COLOR twitch-darker
------------------------------------*/

.alert-twitch-darker {
    color: #390084;
    background-color: #e2ccff;
    border-color: #d6b7ff;
}

.alert-twitch-darker hr {
    border-top-color: #c89eff;
}

.alert-twitch-darker .alert-link {
    color: #230051;
}

.badge-twitch-darker {
    color: #fff;
    background-color: #6f00ff;
}

.badge-twitch-darker[href]:hover, .badge-twitch-darker[href]:focus {
    color: #fff;
    background-color: #5800cc;
}

.bg-twitch-darker {
    background-color: #6f00ff !important;
}

a.bg-twitch-darker:hover, a.bg-twitch-darker:focus,
button.bg-twitch-darker:hover,
button.bg-twitch-darker:focus {
    background-color: #5800cc !important;
}

.border-twitch-darker {
    border-color: #6f00ff !important;
}

.btn-twitch-darker {
    color: #fff;
    background-color: #6f00ff;
    border-color: #6f00ff;
}

.btn-twitch-darker:hover {
    color: #fff;
    background-color: #5f00db;
    border-color: #5800cc;
}

.btn-twitch-darker:focus, .btn-twitch-darker.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.5);
}

.btn-twitch-darker.disabled, .btn-twitch-darker:disabled {
    color: #fff;
    background-color: #6f00ff;
    border-color: #6f00ff;
}

.btn-twitch-darker:not(:disabled):not(.disabled):active, .btn-twitch-darker:not(:disabled):not(.disabled).active, .show > .btn-twitch-darker.dropdown-toggle {
    color: #fff;
    background-color: #5800cc;
    border-color: #5200bc;
}

.btn-twitch-darker:not(:disabled):not(.disabled):active:focus, .btn-twitch-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-darker.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.5);
}

.btn-outline-twitch-darker {
    color: #6f00ff;
    background-color: transparent;
    border-color: #6f00ff;
}

.btn-outline-twitch-darker:hover {
    color: #fff;
    background-color: #6f00ff;
    border-color: #6f00ff;
}

.btn-outline-twitch-darker:focus, .btn-outline-twitch-darker.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.5);
}

.btn-outline-twitch-darker.disabled, .btn-outline-twitch-darker:disabled {
    color: #6f00ff;
    background-color: transparent;
}

.btn-outline-twitch-darker:not(:disabled):not(.disabled):active, .btn-outline-twitch-darker:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-darker.dropdown-toggle {
    color: #fff;
    background-color: #6f00ff;
    border-color: #6f00ff;
}

.btn-outline-twitch-darker:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-darker.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.5);
}

.list-group-item-twitch-darker {
    color: #390084;
    background-color: #d6b7ff;
}

.list-group-item-twitch-darker.list-group-item-action:hover, .list-group-item-twitch-darker.list-group-item-action:focus {
    color: #390084;
    background-color: #c89eff;
}

.list-group-item-twitch-darker.list-group-item-action.active {
    color: #fff;
    background-color: #390084;
    border-color: #390084;
}

.table-twitch-darker,
.table-twitch-darker > th,
.table-twitch-darker > td {
    background-color: #d6b7ff;
}

.table-hover .table-twitch-darker:hover {
    background-color: #c89eff;
}

.table-hover .table-twitch-darker:hover > td,
.table-hover .table-twitch-darker:hover > th {
    background-color: #c89eff;
}

.text-twitch-darker {
    color: #6f00ff !important;
}

a.text-twitch-darker:hover, a.text-twitch-darker:focus {
    color: #5800cc !important;
}


/*------------------------------------
- COLOR twitch-dark
------------------------------------*/

.alert-twitch-dark {
    color: #1c0042;
    background-color: #bc8aff;
    border-color: #b175ff;
}

.alert-twitch-dark hr {
    border-top-color: #a25cff;
}

.alert-twitch-dark .alert-link {
    color: #06000f;
}

.badge-twitch-dark {
    color: #fff;
    background-color: #5200bd;
}

.badge-twitch-dark[href]:hover, .badge-twitch-dark[href]:focus {
    color: #fff;
    background-color: #3b008a;
}

.bg-twitch-dark {
    background-color: #5200bd !important;
}

a.bg-twitch-dark:hover, a.bg-twitch-dark:focus,
button.bg-twitch-dark:hover,
button.bg-twitch-dark:focus {
    background-color: #3b008a !important;
}

.border-twitch-dark {
    border-color: #5200bd !important;
}

.btn-twitch-dark {
    color: #fff;
    background-color: #5200bd;
    border-color: #5200bd;
}

.btn-twitch-dark:hover {
    color: #fff;
    background-color: #420099;
    border-color: #3b008a;
}

.btn-twitch-dark:focus, .btn-twitch-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 0, 189, 0.5);
}

.btn-twitch-dark.disabled, .btn-twitch-dark:disabled {
    color: #fff;
    background-color: #5200bd;
    border-color: #5200bd;
}

.btn-twitch-dark:not(:disabled):not(.disabled):active, .btn-twitch-dark:not(:disabled):not(.disabled).active, .show > .btn-twitch-dark.dropdown-toggle {
    color: #fff;
    background-color: #3b008a;
    border-color: #35007a;
}

.btn-twitch-dark:not(:disabled):not(.disabled):active:focus, .btn-twitch-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 0, 189, 0.5);
}

.btn-outline-twitch-dark {
    color: #5200bd;
    background-color: transparent;
    border-color: #5200bd;
}

.btn-outline-twitch-dark:hover {
    color: #fff;
    background-color: #5200bd;
    border-color: #5200bd;
}

.btn-outline-twitch-dark:focus, .btn-outline-twitch-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 0, 189, 0.5);
}

.btn-outline-twitch-dark.disabled, .btn-outline-twitch-dark:disabled {
    color: #5200bd;
    background-color: transparent;
}

.btn-outline-twitch-dark:not(:disabled):not(.disabled):active, .btn-outline-twitch-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-dark.dropdown-toggle {
    color: #fff;
    background-color: #5200bd;
    border-color: #5200bd;
}

.btn-outline-twitch-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 0, 189, 0.5);
}

.list-group-item-twitch-dark {
    color: #1c0042;
    background-color: #b175ff;
}

.list-group-item-twitch-dark.list-group-item-action:hover, .list-group-item-twitch-dark.list-group-item-action:focus {
    color: #1c0042;
    background-color: #a25cff;
}

.list-group-item-twitch-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1c0042;
    border-color: #1c0042;
}

.table-twitch-dark,
.table-twitch-dark > th,
.table-twitch-dark > td {
    background-color: #b175ff;
}

.table-hover .table-twitch-dark:hover {
    background-color: #a25cff;
}

.table-hover .table-twitch-dark:hover > td,
.table-hover .table-twitch-dark:hover > th {
    background-color: #a25cff;
}

.text-twitch-dark {
    color: #5200bd !important;
}

a.text-twitch-dark:hover, a.text-twitch-dark:focus {
    color: #3b008a !important;
}


/*------------------------------------
- COLOR twitch-darkest
------------------------------------*/

.alert-twitch-darkest {
    color: #000000;
    background-color: #9442ff;
    border-color: #882eff;
}

.alert-twitch-darkest hr {
    border-top-color: #7a15ff;
}

.alert-twitch-darkest .alert-link {
    color: #000000;
}

.badge-twitch-darkest {
    color: #fff;
    background-color: #330076;
}

.badge-twitch-darkest[href]:hover, .badge-twitch-darkest[href]:focus {
    color: #fff;
    background-color: #1c0042;
}

.bg-twitch-darkest {
    background-color: #330076 !important;
}

a.bg-twitch-darkest:hover, a.bg-twitch-darkest:focus,
button.bg-twitch-darkest:hover,
button.bg-twitch-darkest:focus {
    background-color: #1c0042 !important;
}

.border-twitch-darkest {
    border-color: #330076 !important;
}

.btn-twitch-darkest {
    color: #fff;
    background-color: #330076;
    border-color: #330076;
}

.btn-twitch-darkest:hover {
    color: #fff;
    background-color: #230052;
    border-color: #1c0042;
}

.btn-twitch-darkest:focus, .btn-twitch-darkest.focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 0, 118, 0.5);
}

.btn-twitch-darkest.disabled, .btn-twitch-darkest:disabled {
    color: #fff;
    background-color: #330076;
    border-color: #330076;
}

.btn-twitch-darkest:not(:disabled):not(.disabled):active, .btn-twitch-darkest:not(:disabled):not(.disabled).active, .show > .btn-twitch-darkest.dropdown-toggle {
    color: #fff;
    background-color: #1c0042;
    border-color: #160033;
}

.btn-twitch-darkest:not(:disabled):not(.disabled):active:focus, .btn-twitch-darkest:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-darkest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 0, 118, 0.5);
}

.btn-outline-twitch-darkest {
    color: #330076;
    background-color: transparent;
    border-color: #330076;
}

.btn-outline-twitch-darkest:hover {
    color: #fff;
    background-color: #330076;
    border-color: #330076;
}

.btn-outline-twitch-darkest:focus, .btn-outline-twitch-darkest.focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 0, 118, 0.5);
}

.btn-outline-twitch-darkest.disabled, .btn-outline-twitch-darkest:disabled {
    color: #330076;
    background-color: transparent;
}

.btn-outline-twitch-darkest:not(:disabled):not(.disabled):active, .btn-outline-twitch-darkest:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-darkest.dropdown-toggle {
    color: #fff;
    background-color: #330076;
    border-color: #330076;
}

.btn-outline-twitch-darkest:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-darkest:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-darkest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 0, 118, 0.5);
}

.list-group-item-twitch-darkest {
    color: #000000;
    background-color: #882eff;
}

.list-group-item-twitch-darkest.list-group-item-action:hover, .list-group-item-twitch-darkest.list-group-item-action:focus {
    color: #000000;
    background-color: #7a15ff;
}

.list-group-item-twitch-darkest.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-twitch-darkest,
.table-twitch-darkest > th,
.table-twitch-darkest > td {
    background-color: #882eff;
}

.table-hover .table-twitch-darkest:hover {
    background-color: #7a15ff;
}

.table-hover .table-twitch-darkest:hover > td,
.table-hover .table-twitch-darkest:hover > th {
    background-color: #7a15ff;
}

.text-twitch-darkest {
    color: #330076 !important;
}

a.text-twitch-darkest:hover, a.text-twitch-darkest:focus {
    color: #1c0042 !important;
}

/*------------------------------------
- COLOR twitch-feint-dark
------------------------------------*/

.alert-twitch-feint-dark {
    color: #000000;
    background-color: #6b00f8;
    border-color: #6200e3;
}

.alert-twitch-feint-dark hr {
    border-top-color: #5700ca;
}

.alert-twitch-feint-dark .alert-link {
    color: #000000;
}

.badge-twitch-feint-dark {
    color: #fff;
    background-color: #13002c;
}

.badge-twitch-feint-dark[href]:hover, .badge-twitch-feint-dark[href]:focus {
    color: #fff;
    background-color: #000000;
}

.bg-twitch-feint-dark {
    background-color: #13002c !important;
}

a.bg-twitch-feint-dark:hover, a.bg-twitch-feint-dark:focus,
button.bg-twitch-feint-dark:hover,
button.bg-twitch-feint-dark:focus {
    background-color: #000000 !important;
}

.border-twitch-feint-dark {
    border-color: #13002c !important;
}

.btn-twitch-feint-dark {
    color: #fff;
    background-color: #13002c;
    border-color: #13002c;
}

.btn-twitch-feint-dark:hover {
    color: #fff;
    background-color: #030008;
    border-color: #000000;
}

.btn-twitch-feint-dark:focus, .btn-twitch-feint-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 0, 44, 0.5);
}

.btn-twitch-feint-dark.disabled, .btn-twitch-feint-dark:disabled {
    color: #fff;
    background-color: #13002c;
    border-color: #13002c;
}

.btn-twitch-feint-dark:not(:disabled):not(.disabled):active, .btn-twitch-feint-dark:not(:disabled):not(.disabled).active, .show > .btn-twitch-feint-dark.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-twitch-feint-dark:not(:disabled):not(.disabled):active:focus, .btn-twitch-feint-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-feint-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 0, 44, 0.5);
}

.btn-outline-twitch-feint-dark {
    color: #13002c;
    background-color: transparent;
    border-color: #13002c;
}

.btn-outline-twitch-feint-dark:hover {
    color: #fff;
    background-color: #13002c;
    border-color: #13002c;
}

.btn-outline-twitch-feint-dark:focus, .btn-outline-twitch-feint-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 0, 44, 0.5);
}

.btn-outline-twitch-feint-dark.disabled, .btn-outline-twitch-feint-dark:disabled {
    color: #13002c;
    background-color: transparent;
}

.btn-outline-twitch-feint-dark:not(:disabled):not(.disabled):active, .btn-outline-twitch-feint-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-feint-dark.dropdown-toggle {
    color: #fff;
    background-color: #13002c;
    border-color: #13002c;
}

.btn-outline-twitch-feint-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-feint-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-feint-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 0, 44, 0.5);
}

.list-group-item-twitch-feint-dark {
    color: #000000;
    background-color: #6200e3;
}

.list-group-item-twitch-feint-dark.list-group-item-action:hover, .list-group-item-twitch-feint-dark.list-group-item-action:focus {
    color: #000000;
    background-color: #5700ca;
}

.list-group-item-twitch-feint-dark.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-twitch-feint-dark,
.table-twitch-feint-dark > th,
.table-twitch-feint-dark > td {
    background-color: #6200e3;
}

.table-hover .table-twitch-feint-dark:hover {
    background-color: #5700ca;
}

.table-hover .table-twitch-feint-dark:hover > td,
.table-hover .table-twitch-feint-dark:hover > th {
    background-color: #5700ca;
}

.text-twitch-feint-dark {
    color: #13002c !important;
}

a.text-twitch-feint-dark:hover, a.text-twitch-feint-dark:focus {
    color: #000000 !important;
}


/*------------------------------------
- COLOR twitch-gray-dark
------------------------------------*/

.alert-twitch-gray-dark {
    color: #191221;
    background-color: #bbaacf;
    border-color: #b19cc8;
}

.alert-twitch-gray-dark hr {
    border-top-color: #a48cbf;
}

.alert-twitch-gray-dark .alert-link {
    color: #000000;
}

.badge-twitch-gray-dark {
    color: #fff;
    background-color: #553e70;
}

.badge-twitch-gray-dark[href]:hover, .badge-twitch-gray-dark[href]:focus {
    color: #fff;
    background-color: #3c2b4f;
}

.bg-twitch-gray-dark {
    background-color: #553e70 !important;
}

a.bg-twitch-gray-dark:hover, a.bg-twitch-gray-dark:focus,
button.bg-twitch-gray-dark:hover,
button.bg-twitch-gray-dark:focus {
    background-color: #3c2b4f !important;
}

.border-twitch-gray-dark {
    border-color: #553e70 !important;
}

.btn-twitch-gray-dark {
    color: #fff;
    background-color: #553e70;
    border-color: #553e70;
}

.btn-twitch-gray-dark:hover {
    color: #fff;
    background-color: #433159;
    border-color: #3c2b4f;
}

.btn-twitch-gray-dark:focus, .btn-twitch-gray-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 62, 112, 0.5);
}

.btn-twitch-gray-dark.disabled, .btn-twitch-gray-dark:disabled {
    color: #fff;
    background-color: #553e70;
    border-color: #553e70;
}

.btn-twitch-gray-dark:not(:disabled):not(.disabled):active, .btn-twitch-gray-dark:not(:disabled):not(.disabled).active, .show > .btn-twitch-gray-dark.dropdown-toggle {
    color: #fff;
    background-color: #3c2b4f;
    border-color: #342645;
}

.btn-twitch-gray-dark:not(:disabled):not(.disabled):active:focus, .btn-twitch-gray-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-gray-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 62, 112, 0.5);
}

.btn-outline-twitch-gray-dark {
    color: #553e70;
    background-color: transparent;
    border-color: #553e70;
}

.btn-outline-twitch-gray-dark:hover {
    color: #fff;
    background-color: #553e70;
    border-color: #553e70;
}

.btn-outline-twitch-gray-dark:focus, .btn-outline-twitch-gray-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 62, 112, 0.5);
}

.btn-outline-twitch-gray-dark.disabled, .btn-outline-twitch-gray-dark:disabled {
    color: #553e70;
    background-color: transparent;
}

.btn-outline-twitch-gray-dark:not(:disabled):not(.disabled):active, .btn-outline-twitch-gray-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-gray-dark.dropdown-toggle {
    color: #fff;
    background-color: #553e70;
    border-color: #553e70;
}

.btn-outline-twitch-gray-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-gray-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-gray-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 62, 112, 0.5);
}

.list-group-item-twitch-gray-dark {
    color: #191221;
    background-color: #b19cc8;
}

.list-group-item-twitch-gray-dark.list-group-item-action:hover, .list-group-item-twitch-gray-dark.list-group-item-action:focus {
    color: #191221;
    background-color: #a48cbf;
}

.list-group-item-twitch-gray-dark.list-group-item-action.active {
    color: #fff;
    background-color: #191221;
    border-color: #191221;
}

.table-twitch-gray-dark,
.table-twitch-gray-dark > th,
.table-twitch-gray-dark > td {
    background-color: #b19cc8;
}

.table-hover .table-twitch-gray-dark:hover {
    background-color: #a48cbf;
}

.table-hover .table-twitch-gray-dark:hover > td,
.table-hover .table-twitch-gray-dark:hover > th {
    background-color: #a48cbf;
}

.text-twitch-gray-dark {
    color: #553e70 !important;
}

a.text-twitch-gray-dark:hover, a.text-twitch-gray-dark:focus {
    color: #3c2b4f !important;
}

/*------------------------------------
- COLOR twitch-feint-not-too-feint
------------------------------------*/

.alert-twitch-feint-not-too-feint {
    color: #a578ff;
    background-color: #17e1bfff;
    border-color: #1711aaff;
}

.alert-twitch-feint-not-too-feint hr {
    border-top-color: #160191ff;
}

.alert-twitch-feint-not-too-feint .alert-link {
    color: #8345ff;
}

.badge-twitch-feint-not-too-feint {
    color: #212529;
    background-color: #f7f3ff;
}

.badge-twitch-feint-not-too-feint[href]:hover, .badge-twitch-feint-not-too-feint[href]:focus {
    color: #212529;
    background-color: #d5c0ff;
}

.bg-twitch-feint-not-too-feint {
    background-color: #f7f3ff !important;
}

a.bg-twitch-feint-not-too-feint:hover, a.bg-twitch-feint-not-too-feint:focus,
button.bg-twitch-feint-not-too-feint:hover,
button.bg-twitch-feint-not-too-feint:focus {
    background-color: #d5c0ff !important;
}

.border-twitch-feint-not-too-feint {
    border-color: #f7f3ff !important;
}

.btn-twitch-feint-not-too-feint {
    color: #212529;
    background-color: #f7f3ff;
    border-color: #f7f3ff;
}

.btn-twitch-feint-not-too-feint:hover {
    color: #212529;
    background-color: #dfcfff;
    border-color: #d5c0ff;
}

.btn-twitch-feint-not-too-feint:focus, .btn-twitch-feint-not-too-feint.focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 255, 0.5);
}

.btn-twitch-feint-not-too-feint.disabled, .btn-twitch-feint-not-too-feint:disabled {
    color: #212529;
    background-color: #f7f3ff;
    border-color: #f7f3ff;
}

.btn-twitch-feint-not-too-feint:not(:disabled):not(.disabled):active, .btn-twitch-feint-not-too-feint:not(:disabled):not(.disabled).active, .show > .btn-twitch-feint-not-too-feint.dropdown-toggle {
    color: #212529;
    background-color: #d5c0ff;
    border-color: #cab0ff;
}

.btn-twitch-feint-not-too-feint:not(:disabled):not(.disabled):active:focus, .btn-twitch-feint-not-too-feint:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-feint-not-too-feint.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 255, 0.5);
}

.btn-outline-twitch-feint-not-too-feint {
    color: #f7f3ff;
    background-color: transparent;
    border-color: #f7f3ff;
}

.btn-outline-twitch-feint-not-too-feint:hover {
    color: #212529;
    background-color: #f7f3ff;
    border-color: #f7f3ff;
}

.btn-outline-twitch-feint-not-too-feint:focus, .btn-outline-twitch-feint-not-too-feint.focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 255, 0.5);
}

.btn-outline-twitch-feint-not-too-feint.disabled, .btn-outline-twitch-feint-not-too-feint:disabled {
    color: #f7f3ff;
    background-color: transparent;
}

.btn-outline-twitch-feint-not-too-feint:not(:disabled):not(.disabled):active, .btn-outline-twitch-feint-not-too-feint:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-feint-not-too-feint.dropdown-toggle {
    color: #212529;
    background-color: #f7f3ff;
    border-color: #f7f3ff;
}

.btn-outline-twitch-feint-not-too-feint:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-feint-not-too-feint:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-feint-not-too-feint.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 255, 0.5);
}

.list-group-item-twitch-feint-not-too-feint {
    color: #a578ff;
    background-color: #1711aaff;
}

.list-group-item-twitch-feint-not-too-feint.list-group-item-action:hover, .list-group-item-twitch-feint-not-too-feint.list-group-item-action:focus {
    color: #a578ff;
    background-color: #160191ff;
}

.list-group-item-twitch-feint-not-too-feint.list-group-item-action.active {
    color: #212529;
    background-color: #a578ff;
    border-color: #a578ff;
}

.table-twitch-feint-not-too-feint,
.table-twitch-feint-not-too-feint > th,
.table-twitch-feint-not-too-feint > td {
    background-color: #1711aaff;
}

.table-hover .table-twitch-feint-not-too-feint:hover {
    background-color: #160191ff;
}

.table-hover .table-twitch-feint-not-too-feint:hover > td,
.table-hover .table-twitch-feint-not-too-feint:hover > th {
    background-color: #160191ff;
}

.text-twitch-feint-not-too-feint {
    color: #f7f3ff !important;
}

a.text-twitch-feint-not-too-feint:hover, a.text-twitch-feint-not-too-feint:focus {
    color: #d5c0ff !important;
}

/*------------------------------------
- COLOR twitch-cedric
------------------------------------*/

.alert-twitch-cedric {
    color: #aa51ff;
    background-color: #14a198ff;
    border-color: #140183ff;
}

.alert-twitch-cedric hr {
    border-top-color: #13316aff;
}

.alert-twitch-cedric .alert-link {
    color: #911eff;
}

.badge-twitch-cedric {
    color: #212529;
    background-color: #e6ccff;
}

.badge-twitch-cedric[href]:hover, .badge-twitch-cedric[href]:focus {
    color: #212529;
    background-color: #cd99ff;
}

.bg-twitch-cedric {
    background-color: #e6ccff !important;
}

a.bg-twitch-cedric:hover, a.bg-twitch-cedric:focus,
button.bg-twitch-cedric:hover,
button.bg-twitch-cedric:focus {
    background-color: #cd99ff !important;
}

.border-twitch-cedric {
    border-color: #e6ccff !important;
}

.btn-twitch-cedric {
    color: #212529;
    background-color: #e6ccff;
    border-color: #e6ccff;
}

.btn-twitch-cedric:hover {
    color: #212529;
    background-color: #d4a8ff;
    border-color: #cd99ff;
}

.btn-twitch-cedric:focus, .btn-twitch-cedric.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 204, 255, 0.5);
}

.btn-twitch-cedric.disabled, .btn-twitch-cedric:disabled {
    color: #212529;
    background-color: #e6ccff;
    border-color: #e6ccff;
}

.btn-twitch-cedric:not(:disabled):not(.disabled):active, .btn-twitch-cedric:not(:disabled):not(.disabled).active, .show > .btn-twitch-cedric.dropdown-toggle {
    color: #212529;
    background-color: #cd99ff;
    border-color: #c589ff;
}

.btn-twitch-cedric:not(:disabled):not(.disabled):active:focus, .btn-twitch-cedric:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-cedric.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 204, 255, 0.5);
}

.btn-outline-twitch-cedric {
    color: #e6ccff;
    background-color: transparent;
    border-color: #e6ccff;
}

.btn-outline-twitch-cedric:hover {
    color: #212529;
    background-color: #e6ccff;
    border-color: #e6ccff;
}

.btn-outline-twitch-cedric:focus, .btn-outline-twitch-cedric.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 204, 255, 0.5);
}

.btn-outline-twitch-cedric.disabled, .btn-outline-twitch-cedric:disabled {
    color: #e6ccff;
    background-color: transparent;
}

.btn-outline-twitch-cedric:not(:disabled):not(.disabled):active, .btn-outline-twitch-cedric:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch-cedric.dropdown-toggle {
    color: #212529;
    background-color: #e6ccff;
    border-color: #e6ccff;
}

.btn-outline-twitch-cedric:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch-cedric:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch-cedric.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 204, 255, 0.5);
}

.list-group-item-twitch-cedric {
    color: #aa51ff;
    background-color: #140183ff;
}

.list-group-item-twitch-cedric.list-group-item-action:hover, .list-group-item-twitch-cedric.list-group-item-action:focus {
    color: #aa51ff;
    background-color: #13316aff;
}

.list-group-item-twitch-cedric.list-group-item-action.active {
    color: #212529;
    background-color: #aa51ff;
    border-color: #aa51ff;
}

.table-twitch-cedric,
.table-twitch-cedric > th,
.table-twitch-cedric > td {
    background-color: #140183ff;
}

.table-hover .table-twitch-cedric:hover {
    background-color: #13316aff;
}

.table-hover .table-twitch-cedric:hover > td,
.table-hover .table-twitch-cedric:hover > th {
    background-color: #13316aff;
}

.text-twitch-cedric {
    color: #e6ccff !important;
}

a.text-twitch-cedric:hover, a.text-twitch-cedric:focus {
    color: #cd99ff !important;
}
