/*
  twitch-feint :      #fcfaff;
  twitch-lightest :   #ebe1ff;
  twitch-light :      #cea9ff;
  twitch-lighter :    #b072ff;
  twitch :            #913efd;
  twitch-darker :     #6f00ff;
  twitch-dark :       #5200bd;
  twitch-darkest :    #330076;
  twitch-feint-dark : #13002c;


  twitch-gray-dark:    #624289;
  */

.border-twitch {
  border: 0.15em solid;
}

.dropdown-item:hover {
  background-color: #f4ecff;
}

.dropdown-item:active {
  background-color: #b072ff;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.nav-pp {
  width: 2.8rem;
  border-radius: 50%;
}

.centering {
  display:flex;
  align-items: center;
}

.custom-active {
  color: #5200bd !important;
  font-weight: 580;
}

.color-twitch {
  color: rgb(92, 92, 92) !important;
}

.btn-weight {
  font-weight: 700;
}

body,html {
  height: 100%;
}

/* CONTAINER */

.my-container { 
  display: table;
  width:100%;
  height: 100%;
}

.content { 
  display: table-row; 
  height: 100%;
}

.content-body { 
  display: table-cell;
}

.lh-0 {
  line-height: 0;
}

/* Customed reversed twitch button */

.btn-twitch-reversed {
  color: #913efd;
  background-color: #fff;
  border-color: #913efd;
  border : 3px solid;
}

.btn-twitch-reversed:hover {
  color: #913efd;
  background-color: #7c1afc;
  border-color: #740bfc;
}

.btn-twitch-reversed:focus, .btn-twitch-reversed.focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-twitch-reversed.disabled, .btn-twitch-reversed:disabled {
  color: #913efd;
  background-color: #fff;
  border-color: #913efd;
}

.btn-twitch-reversed:not(:disabled):not(.disabled):active, .btn-twitch-reversed:not(:disabled):not(.disabled).active, .show > .btn-twitch-reversed.dropdown-toggle {
  color: #913efd;
  background-color: #740bfc;
  border-color: #6c02f6;
}

.btn-twitch-reversed:not(:disabled):not(.disabled):active:focus, .btn-twitch-reversed:not(:disabled):not(.disabled).active:focus, .show > .btn-twitch-reversed.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-outline-twitch {
  color: #913efd;
  background-color: transparent;
  border-color: #913efd;
}

.btn-outline-twitch:hover {
  color: #913efd;
  background-color: #fff;
  border-color: #913efd;
}

.btn-outline-twitch:focus, .btn-outline-twitch.focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}

.btn-outline-twitch.disabled, .btn-outline-twitch:disabled {
  color: #913efd;
  background-color: transparent;
}

.btn-outline-twitch:not(:disabled):not(.disabled):active, .btn-outline-twitch:not(:disabled):not(.disabled).active, .show > .btn-outline-twitch.dropdown-toggle {
  color: #913efd;
  background-color: #fff;
  border-color: #913efd;
}

.btn-outline-twitch:not(:disabled):not(.disabled):active:focus, .btn-outline-twitch:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-twitch.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 62, 253, 0.5);
}