  /*
  twitch-feint :      #fcfaff;
  twitch-lightest :   #ebe1ff;
  twitch-light :      #cea9ff;
  twitch-lighter :    #b072ff;
  twitch :            #913efd;
  twitch-darker :     #6f00ff;
  twitch-dark :       #5200bd;
  twitch-darkest :    #330076;
  twitch-feint-dark : #13002c;


  twitch-gray-dark:    #624289;
  */

  .index-top {
    z-index: 1;
  }
  
  .border-twitch {
    border: 0.15em solid #cea9ff;
  }
  
  .dropdown-item:hover {
    background-color: #fcfaff;
  }
  
  .dropdown-item:active {
    background-color: #b072ff;
  }


  body,html{
    height: 100%;
  }
  
  /* CONTAINER */
  .my-container { 
    display: table;
    width:100%;
    height: 100%;
  }
  .content { 
    display: table-row; 
    height: 100%; 
  }
  .content-body { 
    display: table-cell;
  }