<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block styles %}{% endblock %}
    <script src="{% static 'dtcapp/script.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dtcapp/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dtcapp/colors.css' %}">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'images/logo_dtc.png' %}">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="my-container">

        {# Navbar #}
        {% if request.path != '/' and request.path != '/index/' %}
        <nav
            class="navbar navbar-expand-lg navbar-light bg-twitch-feint px-3 border-twitch border-twitch-light border-top-0 border-right-0 border-left-0 px-5 py-3">

            <div class="{% if not user.is_authenticated %} w-100 d-flex justify-content-center {% endif %}">
                <a class="navbar-nav navbar-brand p-0 mr-0 mr-5" href="{% url 'index' %}">
                    <img src="{%static 'images/logo_dtc.png' %}" width="80rem" height="80rem"
                        class="d-inline-block align-top">
                </a>
            </div>

            {% if user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav">
                    <a class="nav-item nav-link mr-5 {% if request.path == '/home/' %} custom-active {% else %} color-twitch {% endif %}"
                        href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link {% if request.path == '/subscriptions/' %} custom-active {% else %} color-twitch {% endif %}"
                        href="{% url 'subscriptions' %}">Subscriptions</a>
                </div>

                <div class="navbar-nav nav-item dropdown ml-auto cursor-pointer">
                    <a class="nav-link dropdown-toggle centering {% if request.path == '/profile/' %} custom-active {% else %} color-twitch {% endif %}"
                        id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="nav-pp mr-2" src="{{user.pictureURL}}">{{user.username}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info"
                        aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item {% if request.path == '/profile/' %} bg-twitch-lightest {% endif %}"
                            href="{% url 'profile' %}">My profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>

            </div>
            {% endif %}

        </nav>
        {% endif %}

        {# Content #}
        <section class="content">
            <div class="content-body">
                {% block content %}{% endblock content %}
            </div>
        </section>

        {# Footer #}
        <footer class="footer">
            <p style="text-align: center; height: 2.5rem;">2021 &copy; HE-ARC</p>
        </footer>
    </div>
</body>

</html>