{% extends 'dtcapp/base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dtcapp/home.css' %}">
{% endblock %}

{% block content %}


<div id="following" class="bg-twitch">
    {% for streamer in follows %}
    <form method="post" action="{% url 'switch-following' %}">
        {% csrf_token %}
        <input type="hidden" name="following_id" value="{{ streamer.following_id }}">
        <div class="streamer" onClick="javascript:this.parentNode.submit();">
            <img src="{{streamer.image}}" class="{{ streamer.activated|yesno:"activated,unactivated" }}">
            <p>{{streamer.name}}</p>
        </div>
    </form>
    {% endfor %}
</div>

<div id="clips">
    <h1 class="d-inline">My Feed</h1>

    <div class="btn-group dropleft float-right">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Top&nbsp;<span class="top-twitch">{{top}}</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'home-top' top='24H' %}">Top <span class="top-twitch">24H</span></a>
            <a class="dropdown-item" href="{% url 'home-top' top='7D' %}">Top <span class="top-twitch">7D</span></a>
            <a class="dropdown-item" href="{% url 'home-top' top='ALL' %}">Top <span class="top-twitch">ALL</span></a>
        </div>
      </div>

</div>

{% endblock %}

