{% extends 'dtcapp/base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dtcapp/home.css' %}">
{% endblock %}

{% block content %}

<div id="following" class="bg-twitch pt-2">
    {% for streamer in follows %}
    <form method="post" action="{% url 'switch-following' %}">
        {% csrf_token %}
        <input type="hidden" name="following_id" value="{{ streamer.following_id }}">
        <div class="streamer" onClick="javascript:this.parentNode.submit();">
            <img src="{{streamer.image}}" class="{{ streamer.activated|yesno:" activated,unactivated" }}">
            <p>{{streamer.name}}</p>
        </div>
    </form>
    {% endfor %}
</div>

<div id="clips">
    <div class="btn-group dropleft float-right">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Top&nbsp;<span class="top-twitch">{{top}}</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'home-top' top='24H' %}">Top <span class="top-twitch">24H</span></a>
            <a class="dropdown-item" href="{% url 'home-top' top='7D' %}">Top <span class="top-twitch">7D</span></a>
            <a class="dropdown-item" href="{% url 'home-top' top='ALL' %}">Top <span class="top-twitch">ALL</span></a>
        </div>
    </div>

    <div id="allClips" class="pt-5">
        {% for clip in clips %}
        <div class="text-center mb-4 bg-twitch-lightest border border-dark">
            <div class="font-weight-bold text-twitch clip-title py-1">{{clip.title}}</div>
            <div class="container-clip">
                <a class="btn responsive-iframe index-2 p-0" onclick="load(this)">
                    <img src="{{clip.thumbnail_url}}" loading="lazy" width="100%" height="100%">
                </a>
                <iframe class="responsive-iframe" data-value="{{clip.embed_url}}" allowfullscreen="false"></iframe>
            </div>

            <form method="post"
                action="{% if clip.id in likedclips %} {% url 'dislike' %} {% else %} {% url 'like' %} {% endif %}"
                id="like_form" role="form" class="like_form">
                {% csrf_token %}
                <p name="output-message" class="mb-0 p-2 font-weight-bold text-uppercase text-twitch-feint bg-success"
                    style="display:none;"></p>
                <input type="hidden" name="id_clip" id="id_clip" value="{{ clip.id }}">
                <input type="hidden" name="clipURL" id="clipURL" value="{{ clip.embed_url }}">
                <input type="hidden" name="title_clip" id="title_clip" value="{{ clip.title }}">
                <input type="hidden" name="thumbnailURL_clip" id="thumbnailURL_clip" value="{{ clip.thumbnail_url }}">
                <input type="submit" value="&#xf164" name="btn_like"
                    class="btn btn-lg btn-weight text-uppercase my-1 p-2 lh-0 far fa-thumbs-up {% if clip.id in likedclips %} btn-twitch {% else %} btn-twitch-reversed {% endif %}">
            </form>

        </div>
        {% endfor %}
    </div>

</div>

<script>
    var like_forms = document.getElementsByClassName('like_form');

    for (let like_form of like_forms) {
        like_form.addEventListener("submit", function (e) {
            e.preventDefault();

            id_clip = like_form.querySelector('input[name="id_clip"]').value;
            clipURL = like_form.querySelector('input[name="clipURL"]').value;
            title_clip = like_form.querySelector('input[name="title_clip"]').value;
            thumbnailURL_clip = like_form.querySelector('input[name="thumbnailURL_clip"]').value;

            const formData = new FormData();

            formData.append('id_clip', id_clip);
            formData.append('clipURL', clipURL);
            formData.append('title_clip', title_clip);
            formData.append('thumbnailURL_clip', thumbnailURL_clip);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            output_message = like_form.querySelector('p[name="output-message"]');
            btn_like = like_form.querySelector('input[name="btn_like"]');

            chosen_action = like_form.action;

            fetch(chosen_action, {
                method: like_form.method,
                body: formData
            })
                .then(response => response.json())
                .then(data => {

                    if (data.action === 'like') {
                        output_message.innerText = "The clip has been added to your liked list !"
                        btn_like.classList.remove("btn-twitch-reversed");
                        btn_like.classList.add("btn-twitch");
                        like_form.action = "{% url 'dislike' %}";
                        setTimeout(function () {
                            output_message.style.display = "none";
                        }, 3000);
                        setTimeout(function () {
                            output_message.style.display = "";
                        }, 500);
                    }
                    else if (data.action === 'dislike') {
                        output_message.innerText = "The clip has been removed from your liked list !"
                        btn_like.classList.remove("btn-twitch");
                        btn_like.classList.add("btn-twitch-reversed");
                        like_form.action = "{% url 'like' %}";
                        setTimeout(function () {
                            output_message.style.display = "none";
                        }, 3000);
                        setTimeout(function () {
                            output_message.style.display = "";
                        }, 500);
                    }
                })
                .catch(error => {
                    output_message.innerText = "There has been a problem ! Retry again later."
                    setTimeout(function () {
                        output_message.style.display = "none";
                        output_message.classList.remove("bg-danger");
                    }, 3000);
                    setTimeout(function () {
                        output_message.style.display = "";
                        output_message.classList.add("bg-danger");
                    }, 500);
                });
        });
    }
</script>

{% endblock %}