{% extends 'dtcapp/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<h1>Index</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username" >Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password" >Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Connect">
</form>

<a href="{% url 'signup' %}">Signup</a>

{% endblock %}
