{% extends 'dtcapp/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dtcapp/index.css' %}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column index-top">
    <div class="background-image"></div>
    <header class="masthead mb-auto"></header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading font-weight-bold display-4 mb-4">Daily Twitch Clips</h1>
        <p class="lead mb-0">
            Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and
            add your own fullscreen background photo to make it your own.
        </p>

        <hr class="mt-4 mb-5" />

        <div class="lead mr-5">
            <h5 class="card-title mb-4">You have an account ?</h5>
            <a class="btn btn-lg btn-twitch-feint btn-block text-uppercase" href="{% url 'login' %}">
                Connect now
            </a>
        </div>

        <div class="lead ml-3">
            <h5 class="card-title mb-4">You don't have an account ?</h5>
            <a class="btn btn-lg btn-twitch btn-block text-uppercase" href="{% url 'signup' %}">
                <i class="fab fa-twitch mr-2" style="vertical-align:baseline;font-size:1.2rem;"></i> Sign up with twitch
                now
            </a>
        </div>
    </main>
    <footer class="mastfoot mt-auto"></footer>
</div>

{% endblock %}