{% extends 'dtcapp/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dtcapp/index.css' %}">
{% endblock %}

{% block title %}Daily Twitch Clips{% endblock %}

{% block content %}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto"></header>
    <main role="main" class="inner cover index-top-rel">
        <h1 class="cover-heading font-weight-bold display-4 mb-2">Daily Twitch Clips</h1>
        <h5 class="mb-4 font-italic">"The ultimate way to keep up with the freshest clips of the day."</h5>
        <p class="lead mb-0">
            Join right now with your Twitch account to easily watch the best moments of your favorite streamers all
            in one single place.
        </p>

        <hr class="mt-4 mb-4" />

        <div class="mt-3 lead mr-5">
            <h5 class="card-title mb-4 index-top">You have an account ?</h5>
            <a class="btn btn-lg btn-weight btn-twitch-feint btn-block text-uppercase" href="{% url 'login' %}">
                Connect now
            </a>
        </div>

        <div class="lead ml-3">
            <h5 class="card-title mb-4">You don't have an account ?</h5>
            {% if error %}
            <a class="btn btn-lg btn-weight btn-secondary btn-block text-uppercase" style="pointer-events: none; opacity:0.4!important;">
                <i class="fab fa-twitch mr-2" style="vertical-align:baseline;font-size:1.2rem;"></i> Sign up with twitch
                now
            </a>
            {%else%}
            <a class="btn btn-lg btn-weight btn-twitch btn-block text-uppercase" href="{% url 'signup' %}" onclick="window.open('{{link}}');">
                <i class="fab fa-twitch mr-2" style="vertical-align:baseline;font-size:1.2rem;"></i> Sign up with twitch
                now
            </a>
            {%endif%}
        </div>
    </main>
    <div class="background-image"></div>
    <footer class="mastfoot mt-auto"></footer>
</div>

{% endblock %}