{% extends 'dtcapp/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dtcapp/subscriptions.css' %}">
{% endblock %}

{% block scripts %}
<script>
    csrf_token = "{{ csrf_token }}";
    url_unfollow = "{% url 'unfollow' %}";
    url_follow = "{% url 'follow' %}";
</script>
<script src="{% static 'dtcapp/follow_unfollow.js' %}"></script>
{% endblock %}

{% block title %}Subscriptions{% endblock %}

{% block content %}


<div class="container-fluid pt-4 px-4">
  <div class="row flex-grow-1 mx-0">

    <div class="col-auto text-center px-0">
      <div class="container">
        <h1 class="display-4 mb-3 fs-28">Your susbcriptions</h1>
        <ul id="list-subscriptions" class="list-group">
          {% for user in subscriptions %}
          <!-- This entire thing needs to be in the for loop -->
          <li id="user-{{user.id}}" class="list-group-item list-group-item-twitch px-3 py-2">
            <div class="row">
              <div class="col-auto">
                <img class="profile-pic mr-1"
                  src="{{user.pictureURL}}">
                <div class="align-middle d-inline-block font-weight-bold">{{user.username}}</div>
              </div>
              <div class="col v-center justify-content-end">
                <form action="{% url 'unfollow' %}" method="post" class='follow_form'>
                  <p name="output-message" class="mb-0 p-2 font-weight-bold text-uppercase text-twitch-feint bg-success" style="display:none;"></p>
                  <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
                  <button type="submit" class="btn btn-twitch p-2 lh-0 d-inline-block fs-8">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </div>
            </div>
          </li>
          {% endfor %}
          <!-- --------------------------------------------- -->

        </ul>
      </div>
    </div>

    <div class="col text-center px-0">

      <form method="GET" action="{% url 'subscriptions' %}" role="form">
        {% csrf_token %}
        <label for="twitch_name" class="align-middle mb-0">Username : </label>
        <input type="text" id="username" name="username" class="form-control d-inline-block w-auto align-middle">
        <input type="submit" value="&#xf002" name="btn_like"
          class="btn btn-lg btn-weight fas text-uppercase btn-twitch align-middle p-2">
      </form>

      <div class="col p-5">
      {% if searched %}
      {% if not users %}
        <p>No user found !</p>
      {% else %}
      <ul class="list-group col-5 mx-auto p-1">
        {% for user in users %}
        
          <li id="user-search-{{user.id}}" class="list-group-item list-group-item-twitch px-3 py-2">
            <div class="row">
              <div class="col-auto">
                <img class="profile-pic mr-1" src="{{user.pictureURL}}">
                <div class="align-middle d-inline-block font-weight-bold">{{user.username}}</div>
              </div>
              <div class="col v-center justify-content-end">
              <form action="{% if user.id in subscriptions_id %} {% url 'unfollow' %} {% else %} {% url 'follow' %} {% endif %}" method="post" class='follow_form'>
                <p name="output-message" class="mb-0 p-2 font-weight-bold text-uppercase text-twitch-feint bg-success" style="display:none;"></p>
                <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
                <button type="submit" class="btn {% if user.id in subscriptions_id %} btn-success {% else %} btn-twitch {% endif %} p-2 lh-0 d-inline-block fs-8">
                  <i class="fas {% if user.id in subscriptions_id %} fa-check {% else %} fa-plus {% endif %}"></i>
                </button>
              </form>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}
      </div>
    </div>
    
  </div>
</div>

{% endblock %}