<html>

<head>
  <title>Twitch test</title>
</head>

<body>
  <p>Logged !</p>
  {% for id, user_infos in followers.items %}
    <p>{{id}}: </p>
    <span>{{user_infos.name}}</span>
    <img src="{{user_infos.picture}}">
  {% endfor %}

<p>
<iframe
    src="https://clips.twitch.tv/embed?clip=OpenRespectfulMoosePipeHype-Ggs3M9Oq_-X0_aza&parent=localhost&parent=127.0.0.1"
    height="400"
    width="300"
    allowfullscreen="false">
</iframe>
</p>


<!-- Add a placeholder for the Twitch embed -->
<div id="twitch-embed"></div>

<!-- Load the Twitch embed script -->
<!--<script src="https://player.twitch.tv/js/embed/v1.js"></script>-->

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<!--<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
    video: '945687781',
    width:800,
    height:500
  });
</script>-->
</body>
</html>
