{% extends 'dtcapp/base.html' %}

{% block title %}Add soldier{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>

</div>


<!-- For later :

  {# The entire login block #}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    Background image of card is set in CSS
                  </div>
                  <div class="card-body">
                      <h4 class="card-title text-center">Login</h4>
                      
                      {#The login form #}
                      <form class="form-signin">
                          <div class="form-label-group">
                              <input type="text" id="inputUserame" class="form-control" placeholder="Username" required
                                  autofocus>
                              <label for="inputUserame">Username</label>
                          </div>
  
                          <div class="form-label-group">
                              <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                  required>
                              <label for="inputPassword">Password</label>
                          </div>
  
                          <hr>
                          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                          <hr class="my-4">
                          <h5 class="card-title text-center mb-4">Don't have an account ?</h5>
                          <button class="btn btn-lg btn-twitch btn-block text-uppercase" type="submit">
                              <i class="fab fa-twitch mr-2"></i> Sign up now</button>
                      </form>
  
                  </div>
              </div>
          </div>
      </div>
  </div> -->
    
{% endblock %}